openapi: 3.1.0
info:
  title: Google reCAPTCHA reCAPTCHA Enterprise Assessments Keys API
  description: The reCAPTCHA Enterprise API provides bot detection and fraud prevention by creating assessments for user interaction tokens. It supports managing site keys, creating and annotating assessments, and configuring firewall policies.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/recaptcha-enterprise/docs/support
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://recaptchaenterprise.googleapis.com/v1
  description: reCAPTCHA Enterprise Production Server
security:
- oauth2: []
tags:
- name: Keys
  description: Manage reCAPTCHA site keys
paths:
  /projects/{projectId}/keys:
    get:
      operationId: listKeys
      summary: Google reCAPTCHA List keys
      description: Lists all reCAPTCHA keys for the project.
      tags:
      - Keys
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: List of keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/Key'
                  nextPageToken:
                    type: string
    post:
      operationId: createKey
      summary: Google reCAPTCHA Create key
      description: Creates a new reCAPTCHA site key.
      tags:
      - Keys
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '200':
          description: Key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
  /projects/{projectId}/keys/{keyId}:
    get:
      operationId: getKey
      summary: Google reCAPTCHA Get key
      description: Retrieves the specified reCAPTCHA key.
      tags:
      - Keys
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: keyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
    delete:
      operationId: deleteKey
      summary: Google reCAPTCHA Delete key
      description: Deletes the specified reCAPTCHA key.
      tags:
      - Keys
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: keyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key deleted
components:
  schemas:
    Key:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        displayName:
          type: string
        webSettings:
          type: object
          properties:
            allowAllDomains:
              type: boolean
            allowedDomains:
              type: array
              items:
                type: string
            integrationType:
              type: string
              enum:
              - SCORE
              - CHECKBOX
              - INVISIBLE
        androidSettings:
          type: object
          properties:
            allowAllPackageNames:
              type: boolean
            allowedPackageNames:
              type: array
              items:
                type: string
        iosSettings:
          type: object
          properties:
            allowAllBundleIds:
              type: boolean
            allowedBundleIds:
              type: array
              items:
                type: string
        labels:
          type: object
          additionalProperties:
            type: string
        createTime:
          type: string
          format: date-time
          readOnly: true
  parameters:
    projectId:
      name: projectId
      in: path
      required: true
      description: The Google Cloud project ID
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud
externalDocs:
  description: reCAPTCHA Enterprise REST API Reference
  url: https://cloud.google.com/recaptcha-enterprise/docs/reference/rest
